/* Stile per il menu a tendina */
header {
  background: linear-gradient(to top, rgba(34, 23, 17, 0.05),  #221711),
              linear-gradient(to bottom,  #221711, transparent);
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 10px;
  text-align: center;
  align-items: center;
  z-index: 100;
}

nav {
  display:inline-block;
  overflow: hidden;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 0;
  padding: 10px;
  /*avremmo potuto inserire height 300px per garantire che il contenuto del menu a tendina e della barra di ricerca sia visibile(caso in cui nav li fosse con position relative) -> in questo caso però il menu a tendina dovrebbe rientrare nel div e quindi non sarebbero cliccabil gli elementi inferiori*/
}

header img{
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 100px;
  height: 100px;
}

nav ul {list-style: none; padding: 0;margin: 0;}
nav li {display: inline-block; margin-right: 20px;}  /*possibile pos relative vedi riga 23*/
nav li:last-child {margin-right: 0;}
nav li a {
  padding: 10px;
  text-decoration: none;
  color: #fdf4dc;
  font-weight: bold;
}
nav li a:hover {background-color: #fdf4dc; color: #221711;}

#livesearch {
  position: absolute;  /*posizione iniziale che si basa sull'elemento padre <li> (textfield) , avremmo potuto anche non dare posizione relative a li (avremmo avuto header come riferimento)*/
  top: 90%; /* Posiziona il livesearch sotto il textfield */
  width: 250px;
  z-index: 1;
  background-color: rgba(34, 23, 17, 0.8);;
}

#livesearch a {
  padding: 5px; /* padding ridotto */
  font-size: 15px; 
  color: #fdf4dc;
  font-weight: bold;
  margin-bottom: 2px;
  display: block;
}

#livesearch a:last-child {
  padding: 5px; 
  font-size: 15px; 
  color: #fdf4dc;
  font-weight: bold;
  display: block;
  margin-bottom: 0px;
}

#livesearch a:hover {
  background-color:  #fdf4dc; color: #221711;
}

.dropdown {
    display: inline-block;
  }
  
  .dropdown .dropbtn {  /*poteva essere specificato un tipo all'inizio che poteva essere associato ad entrambe le classi. ES: <div class="classe1 classe2"></div>*/
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color:  #fdf4dc;
    background-color: inherit;
    font-family: inherit; /* Importante per l'allineamento verticale su tutti i browser */
  }
  
  /* Contenuto del menu a tendina (nascosto di default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fdf4dc;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transform: translateX(45px) translateY(10px); /*traslato rispetto al contenitore padre (l'inizio dell'elemento di tipo <li> Area Personale)*/
  }
  
  /* Links all'interno del menu a tendina */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Aggiunge uno sfondo grigio ai link del menu al passaggio del mouse */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Mostra il menu a tendina al passaggio del mouse */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .textf-head {
    color: black; /* Colore del testo */
    background-color:#fdf4dc; /* Colore dello sfondo */
    border: none; /* Rimuove il bordo */
    padding: 10px; /* Aggiunge spazio intorno al testo */
    border-radius: 5px; /* Aggiunge bordi arrotondati */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Aggiunge ombra */
}



.personal-area-icon {
  position: relative; /* Aggiungi posizionamento relativo */
  top: 15px;
  margin-right: 10px;
  border-radius: 50%; /* Per rendere l'immagine un cerchio */
  width: 50px; 
  height: 50px;
  object-fit: cover; 
  margin-left: 5px; 
}