main {
    padding-top: 60px; /* Assicurati che questo valore sia almeno l'altezza della tua navbar */
    margin: 0 auto;
    max-width: 1200px; /* o la larghezza che preferisci */
    background-color: #ffffff; /* o qualsiasi altro colore di sfondo che preferisci */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Aggiunge un leggero effetto ombra per distinguere il main dal resto della pagina */
}

/* Assicurati che il footer non sovrapponga il contenuto principale se la pagina è corta */
footer {
    position: relative; /* o fixed, a seconda delle tue necessità */
    bottom: 0;
    width: 100%;
    background-color: #333; /* o qualsiasi altro colore che preferisci */
    color: white;
    padding: 10px 0;
    text-align: center;
}

/* Modifiche alla navbar per garantire che sia visibile sopra al contenuto */
.navbar {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Assicurati che questo valore sia sufficientemente alto da sovrapporsi agli altri elementi */
}

body{
    background-color: #f4f4f4;
    color: #333;
}

.navbar {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar-logo {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.navbar-links {
    list-style: none;
    display: flex;
}

.navbar-links li a {
    color: white;
    padding: 20px;
    display: block;
    text-decoration: none;
    transition: background-color 0.3s;
}

.navbar-links li a:hover {
    background-color: #555;
}

.navbar-dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: #555;

}

.navbar-links li:hover .dropdown-content {
    display: block;
}

.button.registrati {
    display: inline-block;
    background-color: #FFCD00;
    color: #333;
    padding: 10px 20px;
    margin-right: 50px;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s;
}



/* Responsività */
@media (max-width: 768px) {
    /* Aggiungi qui le regole per la navigazione mobile */
}

/* Aggiungi qui ulteriori stili personalizzati */
