body {
  font-family: 'Georgia', serif;
  margin: 0;
  padding: 0;
  padding-top: 180px;
  box-sizing: border-box;
  background-color: #221711;
  overflow-x: hidden;
}

header {
  background: linear-gradient(to top, rgba(34, 23, 17, 0.05),  #221711),
              linear-gradient(to bottom,  #221711, transparent);
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 10px;
  text-align: center;
  align-items: center;
  z-index: 100;
}

nav {
  background-color: transparent;
  display:inline-block;
  overflow: hidden;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 0;
  padding: 10px;
}

header img{
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 100px;
  height: 100px;
}

nav ul {list-style: none; padding: 0;margin: 0;}
nav li {display: inline-block; margin-right: 20px;}
nav li:last-child {margin-right: 0;}
nav li a {
  padding: 10px;
  text-decoration: none;
  color: #fdf4dc;
  font-weight: bold;
}
nav li a:hover {background-color: #fdf4dc; color: #221711;}

.hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fdf4dc;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Imposta l'altezza al 100% della finestra di visualizzazione */
  padding: 20px; /* Regola la quantità di padding desiderata */
}

#home{margin-top:0;}

.hero h1 {font-size: 2.5em;margin-bottom: 20px;}
.hero p {font-size: 1.2em;margin-bottom: 30px;}

.btn {
  display: inline-block;
  background-color: #fdf4dc;
  color: #221711;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 20px;
  border-radius: 5px;
}

section {padding: 2em;}

.footer {
  background-color: #221711;
  color: #fdf4dc;
  column-count: 4; /* Imposta il numero desiderato di colonne */
  column-rule: 2px solid #fdf4dc;
  column-gap: 20px; /* Aggiungi un margine tra le colonne per una separazione più chiara */
  clear: both;
  padding: 2em;
  text-align: center;
}
.footer p {margin: 0;} /* Rimuovi il margine predefinito dai paragrafi */

.container {
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.form-container {
  border: solid 5px red;
  height: 500px;
  width: 500px;
  float: left;
  background-color: #FDF5DC;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="email"],
input[type="password"]{
  width: 95%;   
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #221711;
  border-radius: 4px;
}

.checkbox {
  margin: 20px 0;
}

